* {
	margin: 0;
	padding:0;
}

body, html { font-size: 10px; }

nav {
	width:100%;
	position:fixed;
	bottom:0;
	display:flex;
	height: 5em;

}

.logo {
	background-color:black;
	flex-basis:35%;
	text-align:center;
	padding:5px;
}

.logo img {	width:25em; }

ul{
	padding:10px;
	list-style: none;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content:center;
	background-color: black;
	font-size:2.4em;
	color:white;
	flex:1 100%;
	font-family:"bitter";	
}

li{	margin-right: 2em;}




@media all and (max-width:1100px) {	
	body {
		font-size: 8px;
	}

}



