<!DOCTYPE html>
<html>
<head>
	<title>Globe Media</title>
	<link rel="stylesheet" href="../stylesheets/navigation/main.css">
</head>
<body>


<nav>
	<div class="logo"><img src="../images/logo/globe-logo.png"></div>
	<ul>
		<li>
			<figure>
				<figcaption>NEWS</figcaption>
			</figure>
		</li>
		<li>
			<figure>
				<figcaption>PROJECTS</figcaption>
			</figure>
		</li>
		<li>
			<figure>
				<figcaption>ABOUT US</figcaption>
			</figure>
		</li>
		<li>
			<figure>
				<figcaption>CONTACT</figcaption>
			</figure>
		</li>
	</ul>
	
</nav>







</body>
</html>